@media screen and (min-width: 80rem) {
    .container {
      margin: 1em 2em;
    }
  }
  .container {
    column-count: 3;
  }
  .container {
    column-width: 10em;
  }
  .container {
    display: flex;
  }
  
  .item {
    flex: 1;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  img,
picture,
video {
  max-width: 100%;
}
html {
    font-size: 1em;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  }
  